body {
    color: black;
    background-color: beige;
    background-image: url('images/background1.png');
    background-size: fit; 
    background-position: center; 
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Acme';
    src: url(https://fonts.gstatic.com/s/acme/v9/RrQfboBx-C5_XxrBbg.woff2) format('woff2');
}

h1, h5 {
    text-align: center;
    margin: 0%;
    font-family: 'Acme';
}

#mBody {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
}

.movableImg {
    position: absolute;
}

#resetButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; 
    background-color: palevioletred; 
    color: white; 
    font-size: 16px; 
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
#backgroundButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; 
    background-color: palevioletred; 
    color: white; 
    font-size: 16px; 
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#saveButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; 
    background-color: palevioletred; 
    color: white; 
    font-size: 16px; 
    border: none;
    cursor: pointer;
}
